.footerContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 50px;
  height: 300px;
  font-family: "Cafe24Ssurround";
  color: white;
}

.footerLogoContainer {
  display: flex;
  align-items: center;
}

.footerInfoLogo {
  width: 75px;
  height: 75px;
}

.footerInfoTextContainer {
  display: flex;
  height: 50px;
  justify-content: center;
  flex-direction: column;
}

.footerInfoTextContainer div {
  display: flex;
  justify-content: center;
}
